.container {
    background-color: #ADD8E6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.navbarcolor {
    color: black;
}
.colorfondo {
    background-color: #ADD8E6;
}
.accordion-item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.accordion-body {
    font-family: Helvetica, sans-serif; 
    font-style: italic;
    font-weight: bold;
}
.TOKYOMAP {
    font-family: sans-serif;
    font-weight:bold ;
}
.Copyname {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}